
<h2>{{contact.fullName}}</h2>

<form name="editContact" class="form-horizontal">
    <form-field record="contact" field="fullName" live="false" type="text" required="true"></form-field>
    <form-field record="contact" field="vkId" live="false" type="url"></form-field>

    <form-field record="contact" field="email" type="email"></form-field>
    <form-field record="contact" field="phone" type="tel"></form-field>
    <form-field record="contact" field="birthday" type="date"></form-field>

    <form-field record="contact" field="homephone"></form-field>
    <form-field record="contact" field="location"></form-field>
    <form-field record="contact" field="facebook"></form-field>

    <div class="row form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-danger" ng-click="delete()">Delete contact</button>
            <button class="btn btn-default col-sm-offset-1" ng-click="update()" ng-disabled="!editContact.$dirty">Update contact</button>
        </div>
    </div>

</form>